<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InTheHand.Forms" version="1.0.2017.0422" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.MediaManager" version="0.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.MediaManager.Forms" version="0.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.Youtube" version="1.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="2.4.0.72-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.7.0.50-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="3.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.5.239-pre3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.BindablePicker" version="1.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre1" targetFramework="portable45-net45+win8+wpa81" />
</packages>